/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Oswald:wght@500&family=Play:wght@700&family=Poppins:ital,wght@0,400;1,300&family=Splash&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

/* ====== Common style starts ====== */
img{
   width: 100%;
   height: 100%;
}

button{
   cursor: pointer;
}

a{
   text-decoration: none;
   cursor: pointer;
   color: black;
}
/* ====== Common style starts ====== */

/* ====== Header Section styling starts ====== */
.watch-btn{
   padding: 15px 20px;
   border: none;
   border-radius: 10px;
   background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%);
   color: white;
   font-weight: bold;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   display: block;
   margin-top: 20px;
}

 .watch-btn:hover {
   background-position: right center;
   box-shadow: 0 0 10px #eee;
 }

 #spotlight-container{
   width: 90%;
   height: 90vh;
   background-image: linear-gradient(90deg, #020024 0%, #090979 35%, rgb(43, 3, 80) 100%);
   margin: 20px auto;
   border-radius: 15px;
   display: flex;
 }

 #header-text{
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   color: white;
   padding: 30px;
 }

 #header-image{
   width: 50%;
 }

 #header-text h3{
   display: block;
   width: fit-content;
   position: relative;
   font-size: 1.2rem;
   line-height: 2rem;
   color: rgb(178, 178, 240);
 }

 #header-text>h1{
   display: block;
   width: fit-content;
   position: relative;
   font-size: 1.8rem;
   line-height: 2.5rem;
   color: rgb(245, 248, 41);
   text-shadow: 2px 2px 8px #461717;
 }
/* ====== Header Section styling end ====== */

/* ======= Main Section Style Starts ======== */
#main-content{
   display: flex;
   width: 90%;
   margin: 20px auto;
   border-radius: 15px;
   justify-content: space-between;
}
         /* ====aside-menu-starts==== */
#menu-sec{
   min-width: 250px;
   border-radius: 15px;
   margin-right: 10px;
}

.menu-container{
   width: 100%;
   height: 250px;
   border-radius: 15px;
   position: relative;
}

.menu-btn-group{
   position: absolute;
   width: 100%;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: black;
   border-radius: 15px;
   color: white;
}

.menu-btn-group a{
   text-align: center;
   background-color: rgb(247, 235, 235);
   padding: 17px 10px;
   border-radius: 10px;
   border: none;
   margin: 0 20px;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
   outline: 1px solid;
   outline-color: rgba(255, 255, 255, .5);
   outline-offset: 0px;
   transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-btn-group a:hover{
   border: 1px solid;
   box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
   outline-color: rgba(255, 255, 255, 0);
   outline-offset: 15px;
   text-shadow: 1px 1px 2px #427388;
}

            /* ====aside-menu-end==== */

            /* ====blog-sec-starts==== */
.menu-btn-group .blogs-btn{
   background-color: red;
}

#blog-sec{
   width: 79%;
   border-radius: 15px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 10px;
}
.blog-cards{
   display: inline-block;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.4);
   overflow: hidden;
   background-color: white;
}

.card-icons{
   width: 50%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.time-icon, .comment{
   width: 40px;
   justify-content: space-between;
   display: flex;
   align-items: center;
   color: gray;
}
.card-des{
   margin: 10px;
}

.card-des h3, .card-icons {
   margin: 15px 0;
}

.blog-btn{
   padding: 4px;
}

.btn-viewall{
   grid-column: 1 / -1;
   display: flex;
   justify-content: center;
   display: none;
}
.btn-viewall button{
   padding: 15px 30px;
   border: none;
   background-color: red;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}
            /* ====blog-sec-end==== */
/* ======= Main Section Style End ======== */

#footer-sec{
   background-color: black;
   color: white;
}

.static-footer{
   color: white;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-hr{
   width: 100%;
   margin: 0 auto;
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(226, 216, 216, 0.75), rgba(0, 0, 0, 0)); 
}

.flex-footer{
   display: flex;
   justify-content: space-evenly;
   margin: 0 50px;
}

.footer-social-icons{
   color: white;
   display: flex;
   justify-content: center;
   position: absolute;
   left: 0;
   right: 0;
}

.footer-social-icons i{
   margin-right: 20px;
   font-size: 1.5rem;
   transition: 0.3s;
}

.footer-social-icons>i:hover{
   color: red;
   font-size: 2rem;
}

#footer-sec p{
   color: white;  
   text-align: center;
   padding-bottom: 30px;
   margin-top: 40px;
}

/* ==============for page2 style start================ */
.match-cards{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
   padding-bottom: 40px;
   border-radius: 15px;
   box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.4);
}
.flag-vs{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-bottom: 20px;
   /* padding: 20px; */
}

.flag{
   max-width: 120px;
}

#match-sec{
   width: 79%;
   border-radius: 15px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 10px;
}

.menu-btn-group .match-btn{
   background-color: red;
}
/* ==============for page2 style end================ */


         /* ================
               Media Query
                     =============== */

/* ---------For Tablet style starts-----------  */


@media only screen and (min-width: 689px) and (max-width: 992px) {

   #header-text{
      font-size: 1rem;
   }

   #main-content{
      display: flex;
      flex-direction: column;
   }

   .menu-btn-group{
      display: flex;
      flex-direction: row;
      background-color: white;  
      height: 80px;
   }

   .menu-container{
      height: 100px;
   }

   .menu-btn-group a{
   height: 60px;
   width: 240px;
   border: 1px solid rgba(128, 128, 128, .5);
}
#blog-sec {
   width: 100%;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(5, 1fr);
}

.btn-viewall{
   display: flex;
}

#footer-sec p {
   margin-top: 20px;
}

.last {
   margin-top: 40px;
}

         /* --------for page2 style--------- */

#match-sec{
   width: 100%;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
}

#footer-sec p {
   margin-top: 20px;
}

.last {
   margin-top: 40px;
}


}


/* ---------For Tablet style End-----------  */

/* ---------For Mobile style Start-----------  */

@media only screen and (max-width: 688px) {

   #spotlight-container{
      background-image: linear-gradient(to bottom, #020024 0%, #090979 35%, rgb(43, 3, 80) 100%);
      display: flex;
      flex-direction: column;
      height: fit-content;
   }

   #header-text{
      width: 100%;
      height: 40%;
      text-align: center;
      align-items: center;
      font-size: 1rem;
   }

   #header-text p{
      white-space: nowrap; 
      width: 200px; 
      overflow: hidden;
      text-overflow: ellipsis; 
   }

   #header-image{
      width: 100%;
   }

   #main-content{
      display: flex;
      flex-direction: column;
   }

   .menu-btn-group{
      background-color: white;  
   }

   .menu-btn-group a{
   border: 1px solid rgba(128, 128, 128, .5);
}
#blog-sec {
   width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(9, 1fr);
}

.flex-footer {
   flex-direction: column;
}

#footer-sec p {
   margin-top: 20px;
}

.last {
   margin-top: 40px;
}

      /* --------for page2 style--------- */
   
      #match-sec{
         width: 100%;
         grid-template-columns: 1fr;
         grid-template-rows: repeat(6, 1fr);
      }

      #footer-sec p {
         margin-top: 20px;
      }
      
      .last {
         margin-top: 40px;
      }
   }
/* ---------For Mobile style End-----------  */


